.resume-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.skill-container{
  width: 320px;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 8px 0 20px;
  display: flex;
  flex-direction: column;
}
.skill-details {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 3s ease-in-out;
    padding: 4px 8px;
    border-radius: 8px;
    font-family: 'Poppins-Bold';
  }
  
  .skill-details.active {
    background-color: #1f2235;
  }
  
  .skill-details i {
    font-size: 24px;
    transition: background-color 3s ease-in-out;
  }
  
  .skill-details button {
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Poppins Medium';
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background-color: white;
    transition: background-color 3s ease-in-out;
  }
    .skill-details button.active {
    border: none;
    background-color:#1f2235;
    color: white;
}
    .skill-details.active i {
        border: none;
        color: white;
}
.resume-container-parent{
  display: flex;
  justify-content: space-between;
}
.skill-container-detail{
  width: 680px;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 8px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 3s;
}


@media screen and (max-width:1100px) {
  .resume-container-parent{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column;  */
  }
  .skill-container-detail{
    gap: 24px;
    width: 500px;
  }
  .skill-container{
    width: 300px;
  }
  
}
@media screen and (max-width:680px) {
  .resume-container-parent{
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
  }
  .skill-container-detail{
    gap: 24px;
    width: 350px;
  }
  .skill-container{
    width: 350px;
  }
}
@media screen and (max-width:375px) {
  .resume-container-parent{
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
  }
  .skill-container-detail{
    gap: 24px;
    width: 300px;
  }
  .skill-container{
    width: 300px;
  }
}
  
