.navbar-btn {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    transform: rotate(-30);
  }
  
  .navbar-btn:hover {
    color: var(--dark-orange)
  }
  